body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

header {
  width: 100%;
  background-color: black;
}
header label {
  float: right;
  line-height: 60px;
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px 40px 10px 10px;
}
header label img {
  width: 30px;
  height: 30px;
}
header label :hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

#check {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

#nav {
  height: 80px;
  width: 100%;
}
#nav ul {
  list-style: none;
  display: flex;
  float: right;
  line-height: 80px;
}
#nav ul li:hover {
  transform: scale(1.1);
  background-color: grey;
  border-radius: 20%;
  text-decoration: underline blue;
}
#nav ul .active {
  font-size: 1.1rem;
}

.navli {
  padding: 0rem 1rem 0rem 1rem;
}

h1 {
  position: absolute;
  padding: 20px 20px;
  font-size: 2em;
  margin: 0px 10px 10px 10px;
  color: rgb(165, 165, 33);
}

/*Hasta aca va el header*/
main {
  position: relative;
}

.mainContainer {
  height: 500px;
}

#primerVideo {
  width: 80%;
  height: 100%;
  display: block;
  margin: auto;
}

#imglol {
  width: 22%;
  height: 25%;
  position: absolute;
  bottom: 36.8%;
  left: 40.17%;
}

.fondoJugar {
  background-color: aqua;
  width: 7.5%;
  height: 10%;
  position: absolute;
  top: 61%;
  left: 46.45%;
  border: solid white 1px;
  border-radius: 10px;
}

#jugar1 {
  color: black;
  position: absolute;
  left: 47%;
  top: 64%;
  background-color: aqua;
  z-index: 1;
  font-size: 90%;
}

/*Hasta aca el main*/
#secNotDest {
  display: flex;
  flex-wrap: nowrap;
}

.not {
  display: flex;
  flex-direction: column;
}

.titNot {
  margin: 2px;
  color: grey;
  font-size: 0.6rem;
}

.descNot {
  margin: 2px;
  font-size: 0.7rem;
}

.resNot {
  font-size: 0.9rem;
}

/*Hasta aca va la primera section*/
.rol {
  height: 50px;
  width: 50px;
  border: solid 1px yellow;
  border-radius: 50%;
}

h2 {
  text-align: center;
  margin-bottom: 2px;
}

#champ {
  font-size: 4rem;
  margin: 1px;
}

#imgAkali {
  width: 500px;
  height: 500px;
  border: solid 1px rgb(179, 179, 7);
  border-radius: 50%;
  position: absolute;
  right: 150px;
  top: -25px;
}

.container {
  display: flex;
  margin-left: 2%;
}

#roles {
  position: relative;
  margin-bottom: 150px;
}

#vidAkali {
  width: 400px;
  height: 225px;
  margin-left: 15%;
}

/*Hasta aca la segunda section*/
#jugar2 {
  color: black;
  position: absolute;
  left: 47%;
  top: 48%;
  background-color: aqua;
  z-index: 1;
}

#fondoJugar2 {
  background-color: aqua;
  width: 100px;
  height: 50px;
  border: solid white 1px;
  border-radius: 10px;
  position: absolute;
  top: 46.4%;
  left: 46.5%;
}

#segundoVideos {
  position: relative;
}

#segundoVideo {
  width: 100%;
  height: 645px;
  display: block;
  margin: auto;
}

/*Hasta aca la tercera section*/
.appCel {
  width: 150px;
  height: 50px;
}

#cel {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

/*Hasta aca la cuarta section*/
#footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.redSocial {
  margin: 0px 20px 0px 20px;
}

.footUl {
  list-style: none;
  display: flex;
}
.footUl li img {
  border-radius: 40%;
}

@media (max-width: 1120px) {
  .mainContainer {
    height: 450px;
  }
  .mainContainer #jugar1 {
    font-size: 80%;
  }
}
@media (max-width: 992px) {
  .mainContainer {
    display: flex;
  }
  #secNotDest {
    flex-wrap: wrap;
  }
  .not {
    width: 60%;
  }
  .not p {
    font-size: 1.5rem;
  }
  .not h4 {
    font-size: 1.5rem;
  }
  #imgAkali {
    width: 30%;
    height: 100%;
    top: 10%;
    left: 55%;
  }
  #vidAkali {
    width: 380px;
    height: 215px;
  }
  .rol {
    height: 40px;
    width: 40px;
  }
  .col p {
    font-size: 0.85rem;
  }
  #jugar2 {
    top: 48%;
    left: 46%;
  }
  #fondoJugar2 {
    top: 46%;
    left: 45%;
  }
}
@media (max-width: 768px) {
  header label {
    display: block;
  }
  .navul {
    position: absolute;
    right: -70%;
    display: none;
    z-index: 2;
  }
  .navul ul {
    flex-direction: column;
  }
  .navul ul li {
    border: 1px solid white;
    background-color: black;
  }
  #check:checked ~ .navul {
    display: block;
    margin-top: 80px;
    margin-right: 70%;
  }
}

/*# sourceMappingURL=index.css.map */
