@import "index.scss";



  
  /*Aca termina el footer, luego comienza el codigo del html champs*/
  
  #navChamp {
    display: flex;
    height: 40px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    position: relative;
    border: solid 1px grey;
  }
  
  .champClass {
    padding: 0px 30px 0px 0px;
  }
  
  #searchChamp {
    position: absolute;
    top: 10px;
    left: 10px;
    border-style: none;
  }
  
  #champs {
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 295px;
    margin: 20px 0px 50px 0px;
  }
  
  .champ {
    width: 220px;
  }
  
  .pChamp {
    background-color: rgb(6, 28, 37);
    padding: 15px;
    margin-top: -4px;
    color: white;
  }
  
  /*Aca termina el html champs, luego inicia el html contact*/
  
  .divContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    color: red;
  }
  
  #strong {
    display: flex;
    justify-content: center;
    padding-bottom: 125px;
    color: white;
  }
  
  #contacto {
    background-image: url(Images/fondocontact.jpg);
    background-size: 1360px 680px;
    color: white;
  }
  